extends layout
block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        br
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/', id='logo').brand Turntube.tv
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='/') Watch
              li
                a(href='/about') About
        br
  .container
    .row-fluid
      .span10.offset1
        .span5
          br
          br
          br
          h3  What is TurnTube.tv? 
          .well
            p
              | About 72 hours of video are uploaded to Youtube every minute. Youtube gets more than 1 billion unique visits each month. Youtube due to its vast scale is responsible for channeling creative communities to their desired audiences. However, with such a vast scale, opinions, thoughts, and desires then to get lost in the midst of the mass data stream.
            p
              | Turntube solves this problem by creating small theme based video rooms where a small number of viewers share videos and interact with each other while enjoying awesome videos. This helps both the content creators as well as Youtube to understand what the viewers real opinions are. It also a place for crowd sourcing categorization as users pick videos for each theme.  
            p
              | This webapp was made as a final project for Olin's student-taught 
              a(href="http://olinjs.github.io") Node.JS Class.
            p
        .span6.offset1
          br
          br
          br
          h3  Team... 
          .well
            .row
              .span2
                img.img-circle(src='/img/rc_headshot.jpeg', width='70px')
              .span10
                |  Reyner is a senior studying Engineering with a Concentration in Computing at Olin College. He loves grabbing every @reyner username known to social media.
                br
                strong
                  a(href='http://twitter.com/reyner') @Reyner
                  &nbsp;&nbsp/&nbsp;&nbsp;
                  a(href='http://github.com/reyner') Github
            hr
            .row
              .span2
                img.img-circle(src='/img/jn_headshot.jpeg', width='70px')
              .span10
                | Juliana is a junior studying Electrical and Computer Engineering at Olin. She is really excited to be a senior in a few days.
                br
                strong
                  a(href='http://twitter.com/juliananazare') @JulianaNazare
                  &nbsp;&nbsp/&nbsp;&nbsp;
                  a(href='http://github.com/jnazare') Github
            hr
            .row
              .span2
                img.img-circle(src='/img/ak_headshot.jpg', width='70px')
              .span10
                |  Aman is a junior studying Engineering with a Concentration in Computing at Olin - or in his words he is studying "computer stuff".
                br
                strong
                  a(href='http://twitter.com/amankapur91') @AmanKapur91
                  &nbsp;&nbsp/&nbsp;&nbsp;
                  a(href='http://github.com/fireblade99') Github
    .row-fluid
    .row-fluid
      .span12
        br
        br
        center
          p © 2018 Turntube.tv | Made in Boston
     Javascripts 
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
  script(src='static/bootstrap/js/bootstrap.js')
