each room, i in rooms
      if (room % 4 === 0)
        .row-fluid
            .span10.offset1
      .span3
        ul.thumbnails
          li
            a(href="/rooms/room/#{room._id}", class="room-list")
              .thumbnail(style='padding-bottom: 10px;')
                button.close.pull-right(type='submit', id=#{room._id}, aria-hidden='true')
                  strong ×
                br
                img(src= "#{room.imgurl}", alt='', style='width: 250px; height: 250px; padding-top: 10px')
                h4 #{room.name}