extends layout
block content
	.navbar.navbar-inverse.navbar-fixed-top
		.navbar-inner
			br
			.container
				button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href='/', id='logo').brand Turntube.tv
				.nav-collapse.collapse
					ul.nav
						li.active
							a(href='/') Watch
						li
							a(href='/about') About
			br
	br
	br
	br
	br
	.container
		center
			h1 Login to Turntube.tv
			br
			a.btn.btn-primary.btn-large(href='/login') Login with Facebook
