extends layout

block content
  script(charset="utf-8", type="text/javascript", src="http://www.youtube.com/player_api?enablejsapi=1&version=3")
  div(id="wrap")
    .container
      .row-fluid
          center
          br
          br
          br
          br
          center
            h1 Sorry, nothing's here!
            br
            br
            br
            br
            a(href='/', style='font-size: 100px; color: black; font-family: UpperEastSideRegular;').brand Turntube.tv