//- style
//-   #percentage { height: 30px; background: black; margin-bottom: 2px; border-radius: 5px; overflow: hidden; }
//-   #percentage-inner { width: #{totals.drinks / 20.13}%; background: #090; height: 30px; margin-bottom: -30px; }

iframe(type="text/html", width='500', height='315', src="http://www.youtube.com/embed/#{id}?autoplay=1&start=#{startOffset}&enablejsapi&controls=0&modestbranding=1&iv_load_policy=3", frameborder="0")
//- TODO: disabling controls gets rid of timeline bar. Can we fake one ourselves?
