extends layout

block content
  script(src='/javascripts/room.js')
  script(charset="utf-8", type="text/javascript", src="http://www.youtube.com/player_api?enablejsapi=1&version=3")
  .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
          br
          .container
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a#logo.brand(href='#') Turntube.tv
            .nav-collapse.collapse
              ul.nav
                li.active
                  a(href='#') Watch
                li
                  a(href='#about') About
          br
  .container
    .row-fluid
        .span3
          br
          br
          h4 Add to Queue...
          hr
          center
            input( id="ytsearch", type="text")
            br
            button.btn.btn-small( id="ytsubmit") 
              | Search 
              strong#reds YOUTUBE »
          hr
          div(id="ytlist")
        .span6
          br
          br
          br
          ul.thumbnails
            li
              .thumbnail(style='padding: 20px;', id="ytplayer")
                iframe(width='500', height='315', src='http://www.youtube.com/embed/wfpL6_0OBuA', frameborder='0', allowfullscreen='allowfullscreen')
              br
              h4 Your Queue...
              .img-polaroid(style='text-align: center; padding: 10px;')
                div(id="queueView")
                  h2 Video Queue
              
        .span3
          br
          br
          ul.thumbnails(id="chatarea")

          div(id="chatform")
            fieldset(style='text-align: center;')
              legend(style='text-align: left;')
                h4 Speak Up...
              textarea.input(rows='4', placeholder='Type something…', id="chat_message")
              br
              button.btn.btn-mini(type='submit', id="chat_submit") 
                strong#reds POST

      .row-fluid
        .span12
          center
            p © 2018 Turntube.tv | Made in Needham
       Javascripts 

  input(type="hidden", class="username", id="#{curr_user.name}") 
  