iframe(type="text/html", width='500', height='315', src="http://www.youtube.com/embed/#{id}?autoplay=1&start=#{startOffset}&enablejsapi&controls=0&modestbranding=1", frameborder="0")
//- TODO: disabling controls gets rid of timeline bar. Can we fake one ourselves?
