extends layout

block content
  script(src='/javascripts/room.js')
  script(charset="utf-8", type="text/javascript", src="http://www.youtube.com/player_api?enablejsapi=1&version=3")
  style(rel='stylesheet')
    html,
      body {
        height: 95%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 95%;
        height: auto !important;
        height: 95%;
        /* Negative indent footer by it's height */
        margin: 0 auto -120px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 140px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
  div(id="wrap")
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
          br
          .container-fluid
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/', id='logo').brand Turntube.tv
            .nav-collapse.collapse
            ul.nav
              li.active
                a(href="/") Watch
              li
                a(href="/about") About
          br
    .container-fluid
      .row-fluid
          .span3
            br
            br
            h4 Add to Queue...
            hr
            center
              input( id="ytsearch", type="text")
              br
              button.btn.btn-small( id="ytsubmit") 
                | Search 
                strong#reds YOUTUBE »
            hr
            div(id="ytlist", style="height: 200px; overflow: scroll;")
          .span6
            center
              br
              br
              br
              ul.thumbnails
                li
                  .thumbnail(style='padding: 20px;', id="ytplayer") 
          .span3
            br
            br
            ul.thumbnails(id="chatarea", style="height: 250px; overflow: scroll;", class="well")
            div(id="chatform")
              fieldset(style='text-align: center;')
                legend(style='text-align: left;')
                  h4 Speak Up...
                textarea.input(rows='2', placeholder='Type something and press ENTER…', id="chat_message")

    input(type="hidden", class="username", id="#{curr_user.name}")
    #push

  #footer
    .container-fluid
        h4 Queue...
        p.muted.credit
          div(id="queueView")

  
  script(type='text/javascript')
    var ct = 0;
    window.setInterval(function() {
      console.log("here")
      jQuery(function($) {
        $('#chatarea').scrollTop($('#chatarea').height() + ct * (20));
        ct += 1;
      });
    }, 1000);
