
- each vid in videos.items
		div(class="row video")
			div(class="span5 offset1")
				img(src= vid.thumbnail.sqDefault)
			div(class="span5")
				p=vid.title
			div(class="span1")
				a(class="btn addtoq", id=vid.id)
					i(class="icon-plus") 
			br

